/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2d5a87;
  --ifm-color-primary-dark: #274e79;
  --ifm-color-primary-darker: #254a71;
  --ifm-color-primary-darkest: #1e3c5c;
  --ifm-color-primary-light: #336295;
  --ifm-color-primary-lighter: #35679d;
  --ifm-color-primary-lightest: #3b72ac;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #3f77e8;
  --ifm-color-primary-dark: #3361c4;
  --ifm-color-primary-darker: #2c55ac;
  --ifm-color-primary-darkest: #254894;
  --ifm-color-primary-light: #4a86eb;
  --ifm-color-primary-lighter: #5f95ee;
  --ifm-color-primary-lightest: #74a4f1;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Import textbook specific styles */
@import url('./textbook-custom.css');
